html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 90vh; width: 100%; }
.legend {
  background: white;
  padding: 10px;
  border-radius: 6px;
  line-height: 18px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 12px;
}
.legend i {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
